/*normalize margins and padding and border*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}
/*sets html height to 100% so body will fill the entire space*/
html {
    height: 100%;
}
/*element basics */
body{
  margin: 0;
  border: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -o-linear-gradient(gray, #F7F7F7);
  background: -moz-linear-gradient(gray, #F7F7F7);
  background: linear-gradient(gray, #F7F7F7);
}

nav {
  top: 0;
  width: 100%;
  height: 100px;
  background-color: gray;
  position: fixed;
  z-index: 100;
}

ul {
  font-size: 1.0em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

li {
  display: inline-block;
  float: left;
  font-size: 1.0em;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

h1 {
  font-size: 1.50rem;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter;
  color: #CDCDCD;
  src: url('../fonts/montserrat-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v11-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
} 

h3 {
  text-align: justify;
  margin-top: 0px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.05rem;
  /*width: 900px;*/
  text-align: justify;
  margin-bottom: 50px;
  src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/*classes*/
.title-font {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20vw;
    text-align: center;
    color: white;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

.photos {
  float: left;
  width:  280px;
  height: 280px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2em;
  margin-top: 4em;
}

.second-nav {
  top:100px;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;

}

.container {
  width: 100%;
  margin: 0 auto;
}

.speed {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  top: 55em;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  margin: 0;
  border: 0;
}

.hamburger {
  width: 30px;
  height: .125em;
  background-color: white;
  margin: 5px 2.5em 5px 2.5em;
  z-index: 5;
  transition: .4s;
}

/*hamburger menus */

.changetop {
  -webkit-transform: rotate(-45deg) translate(4px, 5px) ;
    transform: rotate(-45deg) translate(4px, 5px) ;
    width: 20px;
  }

.changemiddle {
  opacity: 0;
}

.changebottom {
  -webkit-transform: rotate(45deg) translate(-14px, -5px);
  transform: rotate(45deg) translate (-13px, -7px) ;
  width: 20px;
}

/*hamburger menus end*/

.lower-ul {
  padding: 10px;
}

.nav-li {
    color: white;
    text-decoration: none;
    margin: 2.5em 2.5em 2.5em 2.5em;
    padding-bottom: 2px;
    z-index: 5;
    list-style: none;
  }

.align-left {
  text-align: center;
  float: left;
}

.align-right {
  text-align: center;
  float: right;
  padding-right: 2.5em;
  padding-bottom: 1em;
}

.svg_div {
  text-align: center;
  align-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  height: 400px;
}

.column {
  width: 30%;
  float: left;
  position: relative;
  margin-left: 1em;
}

.center > h1, p {
  display:block;
  width: 90%;
  margin-bottom: 8px;
}

.center-whole {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  position: relative;
}

a.example {
    text-decoration: none;
    color: white;
    -webkit-transition: color 500ms ease-out 10ms;
    -moz-transition: color 500ms ease-out 10ms;
    -o-transition: color 500ms ease-out 10ms;
    transition: color 500ms ease-out 10ms;
}

a.example:hover {
  text-decoration: none;
  color: black;
}

a:link {
  color: white;
  text-decoration: none;
}

.button {
  border: 1em;
  border-radius: .2em;
  color: gray;
  float: right;
}

.clear {
  clear: both;
}

.title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height:10em;
  top: 200px;
  position: relative;
  z-index: 1;
}

.extra-heigth {
  height: 500px;
  width: 100%;
  display: block;
}


/*footer */
#footer {
  background-color: transparent;
  width: 100%;
  padding: 8em 0 0 0;
  height: 15em;
}

#footer > div > p {
  letter-spacing: .3em;
  text-align: center;
  width: 50%;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  color: white;
  src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/*footer*/

hr {
  width: 90%;
  margin-left: 0;
  margin-right: auto;
}


/*media queries.  They are generally organized from smallest screen width to largest*/

/*below 780 px*/

@media screen and (max-width: 780px) {
  .align-left > ul {
    padding-left: 0;
    margin-left: 0;
  }
  .align-left > ul > li {
    padding-left: 0;
    margin-left: 0;
  }
  .column {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .photos {
    display: none;
    margin-top: 4em;
    margin-bottom: 2.5em;
  }
  .row {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .center {
    display: relative;
    width: 100%;
  }
  .center > h1, p {
    display:block;
    width: 100%;
    margin-bottom: 8px;
  }
  .center > h1 {
    margin-top: 4em;
  }
  .center-whole {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    position: relative;
  }
  h3 {
    margin-top: 20px;
  }
  #footer > div > p {
    letter-spacing: .3em;
    text-align: center;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
    color: white;
    width: 100%;
  }
  .br-spacing {

  }

  .speed {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    top: 31em;
    overflow: hidden;
  }

  .center-whole {
    top: 525px !important;
  }

  .extra-heigth {
    height: 200px;
    width: 100%;
    display: block;
  }
  #footer > div > p {
    letter-spacing: .3em;
    text-align: center;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    font-size: 1em;
    color: white;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
    
  }
}

/*780 px to 950 px*/

@media screen and (min-width: 780px) and (max-width: 950px) {
  .photos {
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-bottom: 2em;
    margin-top: 4em;
  }
  #footer > div > p {
    letter-spacing: .3em;
    text-align: center;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
  }
}

/*below 812 px hide the nav-li items except for the hamburger menu*/
@media screen and (max-width: 812px) {

   .nav-li {
     color: white;
     text-decoration: none;
     margin: 1.0em 1.5em 1.0em 1.5em;
     padding-bottom: 2px;
     z-index: 5;
     list-style: none;
   }

   nav {
     max-height: 50px;
   }

   .second-nav {
     top: 50px;
     width: 100%;
     position: fixed;
     height: 100%;
     z-index: -1;

   }


   #nav-li-hide {
     color: white;
     text-decoration: none;
     margin: 1.0em 1.5em 1.0em 1.5em;
     padding-bottom: 2px;
     z-index: 5;
     list-style: none;
     display: none
   }

}

/*950px to 1055 px*/

@media screen and (min-width: 950px) and (max-width: 1055px) {
  .photos {
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-bottom: 2em;
    margin-top: 4em;
  }
}


/*at less than 1000px bring the margins down on the .nav-li so they still fit on the same line*/
@media screen and (max-width: 1000px) {

   .nav-li {
     color: white;
     text-decoration: none;
     margin: 1.5em 1.5em 1.5em 1.5em;
     padding-bottom: 2px;
     z-index: 5;
     list-style: none;
   }

}

/*above 1055px*/
@media screen and (min-width: 1055px) {
  .center > h1, p {
      display: block;
      width: 71%;
      margin-bottom: 8px;
  }
  hr {
    width: 71%;
    margin-left: 0;
    margin-right: auto;
  }
}