/*normalize margins and padding and border*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}
/*sets html height to 100% so body will fill the entire space*/
html {
    height: 100%;
}
/*element basics */
body{
  margin: 0;
  border: 0;
  z-index: -1;
  background: -o-linear-gradient(#585858, #F7F7F7);
  background: -moz-linear-gradient(#585858, #F7F7F7);
  background: linear-gradient(#585858, #F7F7F7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*this is to help with the flickering of the banner image as it refreshes*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

nav {
    top: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(96,96,96,.80);
    background: linear-gradient(rgba(96,96,96,.80), rgba(96,96,96,.01));
    position: fixed;
    z-index: 100;
    mix-blend-mode: difference;
}

ul {
  font-size: 1.0em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

li {
  display: inline-block;
  float: left;
  font-size: 1.0em;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

h1 {
  font-size: 1.50rem;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter;
  color: #CDCDCD;
  src: url('../fonts/montserrat-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v11-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

h3 {
  text-align: justify;
  margin-top: 0px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.05rem;
  /*width: 900px;*/
  text-align: justify;
  margin-bottom: 50px;
  src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/*classes*/
.title-font {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14vw;
    color: white;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
    line-height: 1;
    text-align: center;
    display: inline-block;
    src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}


.photos {
    float: left;
    width: 436px;
    height: 436px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
/*    margin-top: 4em;*/
}

.gradient {
  top:100px;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;

}

.container {
  width: 100%;
  margin: 0 auto;
}

.speed {
    width: 100%;
    height: 1100px;
    margin-bottom: 50px;
    padding: 0;
    position: relative;
}

.banner-image {
  width: 100%;
  height: 600px;
  top: 70em;
  margin: 0;
  border: 0;
  background-image: url('../images/aventador.jpg');
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  position:relative;
}

.hamburger {
  width: 30px;
  height: .125em;
  background-color: white;
  margin: 5px 2.5em 5px 2.5em;
  z-index: 5;
  transition: .4s;
}

/*hamburger menus */

.changetop {
  -webkit-transform: rotate(-45deg) translate(4px, 5px) ;
    transform: rotate(-45deg) translate(4px, 5px) ;
    width: 20px;
  }

.changemiddle {
  opacity: 0;
}

.changebottom {
  -webkit-transform: rotate(45deg) translate(-14px, -5px);
  transform: rotate(45deg) translate (-13px, -7px) ;
  width: 20px;
}

/*hamburger menus end*/

.lower-ul {
  padding: 10px;
}

.nav-li {
    color: white;
    text-decoration: none;
    margin: 2.5em 2.5em 2.5em 2.5em;
    padding-bottom: 2px;
    z-index: 5;
    list-style: none;
  }

/*hidden navbar*/

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.show {
  display: block;
}

/*end dropdown*/

.photo-crop {
  width: 350px;
  height: 350px;
  overflow: hidden;
  z-index: 100;
  position: relative;
}

.align-left {
  text-align: center;
  float: left;
}

.align-right {
  text-align: center;
  float: right;
  padding-right: 2.5em;
  padding-bottom: 1em;
}

.svg_div {
  text-align: center;
  align-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  height: 400px;
}
.column {
    width: 30%;
    float: left;
    position: relative;
    margin-left: 48px;
    margin-right: auto;
}

.center > h1, p {
  display:block;
  width: 90%;
  margin-bottom: 8px;
}

.center-whole {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  position: relative;
}

a.example {
    text-decoration: none;
    color: white;
    -webkit-transition: color 500ms ease-out 10ms;
    -moz-transition: color 500ms ease-out 10ms;
    -o-transition: color 500ms ease-out 10ms;
    transition: color 500ms ease-out 10ms;
}

a.example:hover {
  text-decoration: none;
  color: black;
}

a:link {
  color: white;
  text-decoration: none;
}

.button {
  border: 1em;
  border-radius: .2em;
  color: #898989;
  float: right;
}

.clear {
  clear: both;
}

.title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height:10em;
  top: 200px;
  position: relative;
  z-index: 1;
}

.extra-heigth {
  height: 500px;
  width: 100%;
  display: block;
}


/*footer */
#footer {
  background-color: transparent;
  width: 100%;
  padding: 8em 0 0 0;
  height: 15em;
}

#footer > div > p {
  letter-spacing: .3em;
  text-align: center;
  width: 50%;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  color: white;
  src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/*elements in the footer*/
.wrapper {
  overflow: hidden;
  width: 450px;
  height: 50px;
}
.wrapper a {
  font-size: 2em;
  color: white;
  margin-right: 5em;
  margin-left: 10px;
}

/*in this section of code I define an area with #hidden-span#helper that will be changed later on by the #hidden-span1:hover ~ #hidden-span1helper syntax.
This syntax uses the hover attribute of the #hidden-span1 to effect the css of the #hidden-span1helper*/

/*defines the span helpers*/
#hidden-span1helper {
  width: 400px;
  display: inline-block;
  font-size: 15px;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-120px);
  -webkit-transition: all 1s ease;
}

#hidden-span2helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-150px);
  -webkit-transition: all 1s ease;
}
#hidden-span3helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-350px);
  -webkit-transition: all 1s ease;
}
#hidden-span4helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-350px);
  -webkit-transition: all 1s ease;
}
#hidden-span5helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-350px);
  -webkit-transition: all 1s ease;
}
#hidden-span6helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-350px);
  -webkit-transition: all 1s ease;
}
#hidden-span7helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-350px);
  -webkit-transition: all 1s ease;
}
#hidden-span8helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-350px);
  -webkit-transition: all 1s ease;
}
#hidden-span9helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-350px);
  -webkit-transition: all 1s ease;
}
#hidden-span10helper {
  width: 1200px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 5px;
  transform: translateX(-350px);
  -webkit-transition: all 1s ease;
}

/*introduces the syntax that will affect the spanhelpers*/

#hidden-span1:hover ~ #hidden-span1helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 15px;
  transition:.2s 1s ease;
  transform: translateX(120px);
}
#hidden-span2:hover ~ #hidden-span2helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 1em;
  background-color: pink;
  transition-duration: .5s;
  transform: translateX(20px);
}
#hidden-span3:hover ~ #hidden-span3helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 15px;
  background-color: pink;
  transition-duration:all 1s ease;
  transform: translateX(30px);
}
#hidden-span4:hover ~ #hidden-span4helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 1em;
  background-color: pink;
  transition-duration: .5s;
  transform: translateX(40px);
}
#hidden-span5:hover ~ #hidden-span5helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 1em;
  background-color: pink;
  transition-duration: .5s;
  transform: translateX(50px);
}
#hidden-span6:hover ~ #hidden-span6helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 1em;
  background-color: pink;
  transition-duration: .5s;
  transform: translateX(60px);
}
#hidden-span7:hover ~ #hidden-span7helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 1em;
  background-color: pink;
  transition-duration: .5s;
  transform: translateX(80px);
}
#hidden-span8:hover ~ #hidden-span8helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 1em;
  background-color: pink;
  transition-duration: .5s;
  transform: translateX(90px);
}
#hidden-span9:hover ~ #hidden-span9helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 1em;
  background-color: pink;
  transition-duration: .5s;
  transform: translateX(100px);
}
#hidden-span10:hover ~ #hidden-span10helper {
  display: inline-block;
  width: 100px
  height: 100px;
  font-size: 1em;
  background-color: pink;
  transition-duration: .5s;
  transform: translateX(110px);
}
/* end of spans and span helpers */

/*end of footer*/

hr {
  width: 90%;
  margin-left: 0;
  margin-right: auto;
}


/*media queries.  They are generally organized from smallest screen width to largest*/

/*below 780 px*/

@media screen and (max-width: 780px) {
  .align-left > ul {
    padding-left: 0;
    margin-left: 0;
  }
  .align-left > ul > li {
    padding-left: 0;
    margin-left: 0;
  }
  .column {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
/*  .photos {
    display: none;
    margin-top: 4em;
    margin-bottom: 2.5em;
  }*/
  .row {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .center {
    display: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .center > h1, p {
    display:block;
    width: 100%;
    margin-bottom: 8px;
  }
  .center > h1 {
    margin-top: 4em;
  }
  .center-whole {
    width: 90%;
    margin-left: auto;
    /* margin-right: auto; */
    top: 100px;
    position: relative;
  }
  h3 {
    margin-top: 20px;
  }
  #footer > div > p {
    letter-spacing: .3em;
    text-align: center;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
    color: white;
    width: 100%;
  }
  .br-spacing {

  }

  .speed {
    width: 100%;
    height: 1100px;
    margin-bottom: 250px;
    padding: 0;
    position: relative;
  }

  .center-whole {
    top: 525px !important;
  }

  .extra-heigth {
    height: 200px;
    width: 100%;
    display: block;
  }
  #footer > div > p {
    letter-spacing: .3em;
    text-align: center;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    font-size: 1em;
    color: white;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
    
  }
}

/*780 px to 950 px*/

@media screen and (min-width: 780px) and (max-width: 950px) {
  .photos {
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-bottom: 2em;
/*    margin-top: 4em;*/
  }
  .photo-crop {
    margin-top: 4em;
  }
  #footer > div > p {
    letter-spacing: .3em;
    text-align: center;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
  }
}

/*below 812 px hide the nav-li items except for the hamburger menu*/
@media screen and (max-width: 812px) {

   .nav-li {
     color: white;
     text-decoration: none;
     margin: 1.0em 1.5em 1.0em 1.5em;
     padding-bottom: 2px;
     z-index: 5;
     list-style: none;
   }

   nav {
     max-height: 50px;
   }

   .second-nav {
     top: 50px;
     width: 100%;
     position: fixed;
     height: 100%;
     z-index: -1;

   }


   #nav-li-hide {
     color: white;
     text-decoration: none;
     margin: 1.0em 1.5em 1.0em 1.5em;
     padding-bottom: 2px;
     z-index: 5;
     list-style: none;
     display: none
   }

}

/*950px to 1055 px*/

@media screen and (min-width: 950px) and (max-width: 1055px) {
  .photos {
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-bottom: 2em;
/*    margin-top: 4em;*/
  }
  .photo-crop {
    margin-top: 4em;
  }
}


/*at less than 1000px bring the margins down on the .nav-li so they still fit on the same line*/
@media screen and (max-width: 1000px) {

   .nav-li {
     color: white;
     text-decoration: none;
     margin: 1.5em 1.5em 1.5em 1.5em;
     padding-bottom: 2px;
     z-index: 5;
     list-style: none;
   }

}

/* above 1055 px */

@media screen and (min-width: 1055px) {
  .center > h1, p {
      display: block;
      width: 71%;
      margin-bottom: 8px;
  }
  hr {
    width: 71%;
    margin-left: 0;
    margin-right: auto;
  }
  .photos {
    float: left;
    width: 250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
/*    margin-top: 4em;*/
  }
  .photo-crop {
    margin-top: 4em;
  }
}

@media screen and (min-width: 1462px) {
    .photos {
    float: left;
    width: 360px;
    height: 360px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
/*    margin-top: 4em;*/
  }
  .photo-crop {
    margin-top: 4em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1630px) {
    .photos {
      float: left;
      width: 325px;
      height: 325px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 2em;
      margin-top: 4em;
    }
}