body{
  margin: 0px;
  padding: 70px 0px 0px 0px;
  border: 0px;
  background-image:url("images/45-degree-fabric-light.png");
  opacity: 80%;
  z-index: -1;
}

.photos {

  /*min-width: 1920 px;
  min-height: 100%;*/

  width: 100%;
  height: auto;

  position: absolute;
  top: 0;
  left: 0;

  /*margin: 5em, 5em, 5em, 5em;*/
  /*padding: 20em, 20em, 20em, 20em;*/
}

.photos.medium {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  height: auto;
  position: relative;

}

nav {
  width: 100%;
  height: 60px;
  background-color: black;
  position: fixed;
}

ul {
  font-size: 1.05em;
}

li {
  display: inline-block;
  float: left;
  font-size: 1.05em;
  text-decoration: none;
}

.nav-li {
  color: white;
  text-decoration: none;
  margin: 1em 1em 1em 1em;
  padding-bottom: 2px;
  z-index: 5;
  list-style: none;
}

.align-left {
  text-align: center;
  float: left;
}

.align-right {
  text-align: center;
  float: right;
  padding-right: 2px;
  padding-bottom: 10px;
}

/*#banner {
  margin-left: -1em;
  padding-left: -1em;
  /*width: 1920 px;
  height: auto;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  max-height: 5px;
}*/

p {
  font-size: 1.05rem;
  width: 900px;
  text-align: justify;
}


.footer {
  font-size: 20px;
  font-style: italic;
  background-color: #CDCDCD;
  color: white;
  padding: 1px;
  align-items: center;
}

.row {
  width: 30%;
  float: right;
  position: relative;
}

.center > h1, p {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

h1 {
  font-size: 1.50rem;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter;
  color: #CDCDCD;

}

h3 {
  text-align: justify;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color:transparent;
}

a:active {
  color:green;
}

a:link {
  color:blue;
}

.button {
  border: 1em;
  border-radius: .2em;
  color: gray;
  padding: 5em;
  float: right;
}
