.photos {

  min-width: 1920 px;
  min-height: 100%;

  width: 100%;
  height: auto;

  position: absolute;
  top: 0;
  left: 0;

  /*margin: 5em, 5em, 5em, 5em;*/
  /*padding: 20em, 20em, 20em, 20em;*/
}


.photos.medium {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  position: relative;

}

#one {
  height: 100%;
  width: 100%;
  position: fixed;
}

#banner {
  margin-left: -1em;
  padding-left: -1em;
  width: 1920 px;
  height: auto;
  position: fixed;
}


p {
  font-size: 1.05rem;
  width: 900px;
  text-align: justify;
}

ul {
  font-size: 1.05em;
  text-align: center;
  z-index: 5;
}

ul > li {
  font-size: 1.05em;
  text-align: justify;
  z-index: 5;
}

nav > ul {
  z-index: 5;
  position: absolute;
}

nav > ul > li{
  z-index: 5;
  position: absolute;
}

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}

.center > h1, p {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

h1 {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter;
  color: #CDCDCD;

}

h3 {
  text-align: justify;
}


body {
  content:"";
  background-image:url("images/45-degree-fabric-light.png");
  opacity: 80%;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
}

/*#fullscreen {
  width:100%;
  height:auto;
}*/

a:hover {
  text-decoration: none;
}

a:visited {
  color:transparent;
}

a:active {
  color:green;
}

a:link {
  color:blue;
}

.footer {
  font-size: 20px;
  font-style: italic;
  background-color: #CDCDCD;
  color: white;
  padding: 1px;
  align-items: center;
}
